:root{
	--primary-color-dark-cyan: hsl(158, 36%, 37%);
	--primary-color-very-dark-cyan: hsl(156, 42%, 18%);
	--primary-color-cream: hsl(30, 38%, 92%);
	--neutral-color-very-dark-blue: hsl(212, 21%, 14%);
	--neutral-color-dark-grayish-blue: hsl(228, 12%, 48%);
	--neutral-color-white: hsl(0, 0%, 100%);
	--font-size-one: clamp(14px, 1.7vw, 14px);
	--font-size-two: clamp(30px, 3vw, 35px);
	--border: 10px;	
	--margin: 20px;	
	--margin-mobile: 10px;
	--font-one:'Montserrat', sans-serif;
	--font-two: 'Fraunces', serif;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

body{
	background-color: var(--primary-color-cream);
}

main{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{	
	max-width: 600px;
	min-height: 450px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	border-radius: var(--border);
	margin: var(--margin);	
	overflow: hidden;
}

.container div{
	flex: 1 1 300px;
}

img{
	width: 100%;
	height: 100%;
}

.product-image-mobile{
	display: none;
}

.container-product{
	width: 100%; 
	background-color: var(--neutral-color-white);
	font-family: var(--font-one);
	padding: 35px;
}

.product-type{
	font-size: var(--font-size-one);
	text-transform: uppercase;	
	font-weight: 500;
	color: var(--neutral-color-dark-grayish-blue);
	margin-bottom: var(--margin);
	letter-spacing: 5px;
}

.product-title{
	font-size: var(--font-size-two);
	font-family: var(--font-two);
	margin-bottom: var(--margin);
	color: black;
	font-weight: 700;
	line-height: 35px;
}

.product-discription{
	font-size: var(--font-size-one);	
	font-weight: 500;
	line-height: 25px;
	margin-bottom: var(--margin);
}

.prices{	
	display: flex;
	align-items: center;
	font-family: var(--font-two);
	margin-bottom: var(--margin);
}
.price-discount{
	margin-right: 15px;
	font-size: var(--font-size-two);
	font-weight: 700;
	color: var(--primary-color-dark-cyan);
}

.price-normal{
	font-family: var(--font-size-one);
	text-decoration: line-through;
	font-size: var(--font-size-one);
}

.btn-car{
	display: flex;
	justify-content: center;
	align-items: center;	
	border-radius: var(--border);
	background-color: var(--primary-color-dark-cyan);
	color: var(--neutral-color-white);
	padding: 15px;
	width: 100%;
	cursor: pointer;
	font-weight: 700;
}

.btn-car:hover{
	background-color: var(--primary-color-very-dark-cyan);
}

.btn-car:focus{
	background-color: var(--neutral-color-very-dark-blue);
}

svg.car-icon{
	margin-right: 10px;
}

@media screen and (max-width: 768px){
	.container{
		height: 700px;
		width: 450px;		
	}

	img{
		width: 100%;
	}

	.product-image-desktop{
		display: none;
	}

	.product-image-mobile{		
		display: block;
	}	

	.btn-car{
		margin-bottom: 0;
	}
}

@media screen and (max-width: 375px){
	.container{
		height: 600px;
		width: 450px;
	}

	.container-product{		
		padding: 25px;
		
	}

	.product-type,
	.product-title,	
	.btn-car{	
		margin-bottom: var(--margin-mobile);		
	}

	.product-title{
		line-height: 30px;
	}

	.price-discount{
		margin-right: 25px
	}
}